body {
  color: gray !important;
}

.social li {
  display: inline;
  padding-left: 5% !important;
}

a {
  color: white !important;
  font-size: 16px;
}

.header {
  width: 90% !important;
  margin-left: 5% !important;
}

.header h1 {
  font-size: 25px;
  padding-top: 5%;
}

.navbar {
  background-color: #a59f94;
}

.social {
  padding-top: 5%;
}


.social a:hover {
  color: #FDAEAE !important;
}

.social i {
  font-size: 25px !important;
}

.carousel-inner h3 {
  color: white;
}

.carousel-inner p {
  color: white;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  background-color: #c7beb2a6 !important;
  z-index: 11px;
  color: gray !important;
}

.carousel-control-prev {
  top: 70% !important;
  margin-left: 20%;
}

.carousel-control-next {
  top: 70% !important;
  margin-right: 20%;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 40% !important;
  left: 0% !important;
  top: 25% !important;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.line {
  padding: 4%;
  border-left: 2px solid gray;
  margin-left: 30%;
  text-align: left;
}

.main a {
  background-color: #c7beb2 !important;
  width: 30%;
  height: 25%;
}

.fas {
  color: white !important;
}

img {
  width: 100%;
}

.second.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.text p {
  font-size: 18px;
}

button {
  margin-left: 40%;
  background-color: #a59f94;
  color: white;
  padding: 2% 9% 2% 9%;
}

.text {
  border-left: 3px solid #a59f94;
  padding-left: 5%;
  margin-left: 5%;
}

.photo {
  display: inline-block;
  position: relative;
}

.third button {
  margin-left: 30%;
}

.third .line,
.fourth .line {
  border-left: 3px solid #a59f94;
  margin-left: 0 !important;
}

.footer {
  display: flex;
  background-color: #a59f94;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 12px;
}
.footer .footer-1 p{
  color: #000000;
}

@media (max-width: 599px) and (min-width: 0px) {

  .main .line {
    margin-left: 0 !important;
    padding: 0 !important;
  }

  .main h3 {
    font-size: 14px !important;
    line-height: 0.5 !important;
  }
}