/* funte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* globales */
body {
  color: #000000 !important;
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: white !important;
  font-size: 16px;
}

/* responsive de body */
@media (max-width:599px) {
  body {
    background-color: #a59f94c5 !important;
    color: white !important;
  }
}

/*  */
.social li {
  display: inline;
  padding-left: 5% !important;
}

.header {
  width: 90% !important;
  margin-left: 5% !important;
}

.header h1 {
  font-size: 25px;
  padding-top: 5%;
}

.navbar {
  background-color: #a59f94;
}

.social {
  padding-top: 5%;
}

.social i {
  font-size: 25px !important;
}

.carousel-inner h3 {
  font-size: 40px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.carousel-inner p {
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
@media (max-width:467px) {
  .carousel-inner h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  .carousel-inner p{
  font-size: 15px;  
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

@media (max-width:467px) {
  .carousel-inner img {
    width: 100%;
    height: 500px;
  }
}
.carousel-control-prev {
  top: 43% !important;
  margin-left: 35%;
}

.carousel-control-next {
  top: 43% !important;
  margin-right: 35%;
}

@media (max-width: 467px) {
  .carousel-control-prev {
    top: 85% !important;
    margin-left: 35%;
  }

  .carousel-control-next {
    top: 85% !important;
    margin-right: 35%;
  }
}

textarea {
  width: 100px;
  height: auto;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 40% !important;
  left: 0% !important;
  top: 25% !important;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption {
  background-color: #c7beb2a6 !important;
  z-index: 11px;
}

@media (max-width:500px) {
  .carousel-caption {
    width: 100%;
    height: 300px;
  }
}

.line {
  padding: 4%;
  border-left: 2px solid gray;
  margin-left: 30%;
  text-align: left;
}

.line img {
  position: absolute;
  left: 89px;
  width: 200px;
  height: 200px;
}

@media (max-width:467px) {
  .line img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -170px;
    z-index: 20;
  }
}

.main a {
  width: 15%;
  height: 15%;
}

@media (max-width:467px) {
  .main a {

    background-color: #a59f94;
  }
}

.fas {
  color: white !important;
}

img {
  width: 100%;
}

.row {
  margin: 0;
}

.second.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media (max-width:599px) {
  .second .car img {
    width: 0px;
  }
}

.text p {
  font-size: 18px;
}

button {
  display: flex;
  margin-left: 40%;
  background-color: #ffffff;
  color: #a59f94;
  padding: 2% 9% 2% 9%;
}

.text {
  border-left: 3px solid #a59f94;
  padding-left: 5%;
  margin-left: 5%;
}

.photo {
  display: inline-block;
  position: relative;
}

.cont {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.fourth {
  width: 100%;
}

@media (max-width:599px) {
  .third img {
    display: flex;
    margin-left: 3%;
  }
}


.third .line,
.fourth .line {
  border-left: 3px solid #a59f94;
  margin-left: 0 !important;
}



@media (max-width: 599px) and (min-width: 0px) {

  .main .line {
    position: absolute;
    margin-top: 150px;
    margin-left: 23px;
  }

  .main h3 {
    font-size: 30px !important;
    line-height: 1 !important;
  }
}

.whatsapp {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate forwards;
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate forwards;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.whatsapp-icon {
  margin-top: 10px;
}

#map {

  height: 500px;
  width: 50%;
}

@media (max-width:599px) {
  #map {
    width: 80%;
    height: 400px;
  }
}

.sel {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

@media (max-width:599px) {
  .sel {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
  }
}

select {
  text-align: center;
  width: 50%;
  height: 50px;
  border-radius: 7px;
  background-color: #a59f94;
  border: none !important;
  color: white;
  font-size: 50px;
}

@media (max-width:599px) {
  select {
    text-align: center;
    width: 80%;
    height: 50px;
    background-color: #77746f8c;
    color: white;
  }
}

.form-group {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-group textarea {
  width: 30%;
}

.erra {
  display: flex;
  justify-content: center;

}

/* galeria */
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover {
  flex: 7;
}

.item p a {
  position: absolute;
  margin-top: 180px;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width:599px) {
  .item p a {
    position: inherit;
    font-size: 15px;
  }
}

.item-1 {
  background-image: url(./images/ftnB/camioneta.png);
  opacity: 0.60;
}

.item-1:hover {
  opacity: 1;
}

.item-2 {
  background-image: url(./images/ftnB/mesa.png);
  opacity: 0.60;
}

.item-2:hover {
  opacity: 1;
}

.item-3 {
  background-image: url(./images/ftnB/porton.png);
  opacity: 0.60;
}

.item-3:hover {
  opacity: 1;
}

.item-4 {
  background-image: url(./images/ftnB/sillon.png);
  opacity: 0.60;
}

.item-4:hover {
  opacity: 1;
}

.item-5 {
  background-image: url(./images/ftnB/tv.png);
  opacity: 0.60;
}

.item-5:hover {
  opacity: 1;
}

.social {
  position: absolute;
  right: 35px;
  bottom: 0;
}

.social img {
  display: block;
  width: 32px;
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}





.hideText {
  display: none;
}

/* accion de leer */
@media (max-width:599px) {
  .btnText {
    color: white !important;
    background-color: transparent !important;

  }
}

.btnText {
  color: black;
}

.showText {
  display: block;
  border: 1px solid transparent;
}

/* one pag gallery */
hr {
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: transparent !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-image: linear-gradient(to right,rgb(255, 255, 255), rgba(29, 29, 29, 0.466), rgb(255, 255, 255))2 !important;  
}
@media (max-width:599px) {
  hr{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: transparent !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-image: linear-gradient(to right,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.479), rgba(255, 255, 255, 0))2 !important;  
  }
}
.containerr{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
@media (max-width: 599px) {
  .containerr{
    height: 300px;
  }
}
.c{
  width: 350px;
  height: 300px;
  border-radius: 12px;
 /*  margin-top: 50px; */
}
.c .c-c{
text-align: center;
margin: 30px;

background-color: #a59f94;
}
.c .c-c h3{
color: white;
}
/* footer */
footer{
width: 100%;
height: 30px;
/* background-color: #25d366; */
}
footer .f{
  display: flex;
  justify-content: center;
  color: black;
}
footer .f p a{
  color: black !important;
  margin-left: 15px;
  text-emphasis: none;
  font-family: 'Francois One', sans-serif;
  letter-spacing: 0px;
}
footer .f p a span{
  color: #25d366 !important;
}
@media (max-width: 599px) {
  footer .f {
    color: white;
  }
  footer .f p a{
    color: white !important;
  }
}