body {
  color: gray !important;
}

.social li {
  display: inline;
  padding-left: 5% !important;
}

a {
  color: white !important;
  font-size: 16px;
}

#trucazo {
  opacity: 0;
}

.header {
  width: 90% !important;
  margin-left: 5% !important;
}

.header h1 {
  font-size: 25px;
  padding-top: 5%;
}

.navbar {
  background-color: #a59f94;
}

.social {
  padding-top: 5%;
}


.social a:hover {
  color: #FDAEAE !important;
}

.social i {
  font-size: 25px !important;
}

.carousel-inner h3 {
  color: white;
}

.carousel-inner p {
  color: white;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
@media (max-width:467px) {
  .carousel-inner img {
    width: 100%;
    height: 400px;
  }
}

.carousel-caption {
  background-color: #c7beb2a6 !important;
  z-index: 11px;
  color: gray !important;
}

.carousel-control-prev {
  top: 43% !important;
  margin-left: 35%;
}

.carousel-control-next {
  top: 43% !important;
  margin-right: 35%;
}
@media (max-width: 467px) {
  .carousel-control-prev {
    top: 70% !important;
    margin-left: 35%;
  }
  .carousel-control-next {
    top: 70% !important;
    margin-right: 35%;
  }
}
textarea {
  width: 100px;
  height: auto;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 40% !important;
  left: 0% !important;
  top: 25% !important;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.line {
  padding: 4%;
  border-left: 2px solid gray;
  margin-left: 30%;
  text-align: left;
}

.line img {
  position: absolute;
  left: 83px;
  width: 200px;
  height: 200px;
}

@media (max-width:467px) {
  .line img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 180px;
    left: 200px;
    z-index: 20;
  }
}

.main a {
  width: 15%;
  height: 15%;
}
@media (max-width:467px) {
  .main a{
    background-color: #a59f94;
  }
}
.fas {
  color: white !important;
}

img {
  width: 100%;
}

.row {
  margin: 0;
}

.second.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.text p {
  font-size: 18px;
}

button {
  display: flex;
  margin-left: 40%;
  background-color: #a59f94;
  color: white;
  padding: 2% 9% 2% 9%;
}

.text {
  border-left: 3px solid #a59f94;
  padding-left: 5%;
  margin-left: 5%;
}

.photo {
  display: inline-block;
  position: relative;
}

.fourth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2px;
  width: 100%;
}

@media (max-width:467px) {
  .fourth {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    width: 100%;
  }
}

.third .line,
.fourth .line {

  border-left: 3px solid #a59f94;
  margin-left: 0 !important;
}

.footer {
  display: flex;
  background-color: #a59f94;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 12px;
}

.footer .footer-1 p {
  color: #000000;
}

@media (max-width: 599px) and (min-width: 0px) {

  .main .line {
    margin-left: 0 !important;
    padding: 0 !important;
  }

  .main h3 {
    font-size: 14px !important;
    line-height: 0.5 !important;
  }
}

.whatsapp {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

#map {
  height: 500px;
  width: 100%;
}

.sel {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

select {
  text-align: center;
  width: 170px;
  height: 30px;
  border-radius: 7px;
  background-color: #a59f94;
  border: none;
  color: white;
  font-size: 30px;
}

.form-group {
  display: flex;
  justify-content: center;
  text-align: center;
}

.erra {
  display: flex;
  justify-content: center;

}

div.gallery {
  margin-top: 30px;
}

div.gallery ul {
  list-style-type: none;
  margin-left: 35px;
}

/* animation */
div.gallery ul li,
div.gallery li img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.gallery ul li {
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  margin: 5px;
  padding: 5px;
  z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
  z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
  position: absolute;
  left: 0;
  top: 0;
  /* border: 1px solid #dddddd; */
  padding: 5px;
  width: 130px;
  height: 130px;
  background: #f0f0f0;
}

div.gallery ul li img:hover {
  width: 200px;
  height: 200px;
  margin-top: -130px;
  margin-left: -130px;
  top: 65%;
  left: 65%;
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}