body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*:target,
*:focus {
  outline: none;
}

.topnav {
  overflow: hidden;
  z-index: 90;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.75);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  min-width: 20px;
  transition: box-shadow 1s ease;
}

/* .topnav a:hover {
    background-color: #ddd;
    color: #2b2422;
    border-bottom: 1px solid #ddd;
  } */

.topnav a:hover {
  box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.topnav a.active {
  border-bottom: 1px solid gold;
}

.social {
  display: flex;
  width: 200px;
  background-color: #70665c;
}

.social a {
  flex: 1;
}

.topnav-right {
  float: right;
}

.main {
  margin-top: -49px;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  display: flex;
}

.side {
  flex: 2;
  background: #70665c;
  display: flex;
  flex-direction: column;
}

.txt {
  flex: 1;
}

.header {
  position: absolute;
  z-index: 91;
  color: white;
  margin-left: 40px;
  margin-top: 100px;
  padding-left: 15px;
  border-left: 2px solid white;
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px;
}

.header h1 {
  font-size: 4vw;
  margin-top: -5px;
}

.header h2 {
  margin-top: -2vw;
  font-size: 80%;
  font-family: "Montserrat", sans-serif;
}

.boxes {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.first-line {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 50%;
}

#f1 {
  background: #83726b;
  flex: 1;
  cursor: pointer;
  transition: box-shadow 1s ease;
}

#f1:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.4);
}

.second-line {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#f2 {
  flex: 1;
  background: #7f636d;
  cursor: pointer;
  transition: box-shadow 1s ease;
}

#f2:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.4);
}

#f3 {
  flex: 1;
  background: #7d4850;
  cursor: pointer;
  transition: box-shadow 1s ease;
}

#f3:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.4);
}

.inside {
  width: 100%;
  height: Calc(100% - 40px);
  margin: 20px 0;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.inside span {
  height: 1px;
  width: 30%;
  background: white;
  display: block;
  margin: 0 auto;
}

.inside h3 {
  font-size: 100%;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.inside h4 {
  font-size: 80%;
  color: #2b2422;
  position: relative;
  bottom: -30%;
  transform: translateY(-50%);
}

.slidep {
  background: silver;
  flex: 5;
  overflow: hidden;
}

/*SLIDESHOW*/

/* ---------------------------------- */

/* Essential Styles */

.slider {
  display: flex;
}

.slide {
  width: 100%;
  margin-right: -100%;
  position: relative;
  z-index: 1;
}

.slide:first-child {
  z-index: 2;
}

.slide:focus,
.slide:focus-within {
  z-index: 10;
}

/* ---------------------------------- */

/* Animation-based styles */

.slide {
  transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1), z-index 0.7s linear;
  transform: translateX(-50%) scale(0.8);
  opacity: 0;
}

.slider:not(:focus-within) .slide:first-child,
.slide:focus,
.slide:focus-within {
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 10;
}

/* ---------------------------------- */

/* Stylistic Choices */

.slide {
  height: 100vh;
  display: flex;
  background: red;
  background: hsl(calc(360deg * (var(--i) / var(--total))), 60%, 60%);
}

.slider {
  overflow: hidden;
}

.slide-nav {
  position: absolute;
  bottom: 30px;
  right: 50px;
  text-align: center;
  z-index: 12;
}

.button {
  position: absolute;
  bottom: 30px;
  left: 50px;
  text-align: center;
  z-index: 12;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 100%;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px;
  transition: box-shadow 1s ease;
}

.button:hover {
  box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2);
}

.slide-nav a {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 1rem;
  border: solid 2px transparent;
}

.slide-nav a:hover {
  color: silver;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*responsive*/

@media only screen and (max-width: 950px) {
  .main {
    flex-direction: column;
    height: auto;
  }

  .side {
    flex: 1;
  }

  .slidep {
    flex: 1;
  }

  .slide-nav {
    position: absolute;
    right: 50px;
    text-align: center;
    z-index: 12;
  }
}

.title {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 55px;
  background-color: #a59f9469;
  border-radius: 8px;
}

.title h1 {
  color: white;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title p {
  color: white;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}